* {
    margin: 0;
    padding: 0;

}

body {
    /* background-color: hsla(242, 39%, 17%, 1.00); */
    background-image:
        radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0, 0, 0, 0) 100%),
        radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
    height: 100vh;
    width: 100vw;
}

.o-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.c-rocket {
    width: 200px;
}

.c-rocket__flame {
    transform-origin: 20% 20%;
}